*{
    padding: 0;
    margin: 0;
}
.main{
    height: 60px;
    display: flex;
    align-items: center;
}
.w3shool-logo img{
height: 50px;
padding-left: 20px;
}
.tecs a{
    padding-left: 20px;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 17px;   
}
.nav-search{
    margin-left: 20px;
    border: none;
    
}
 input{
    padding-left: 20px;
    border-radius: 50px;
    height: 30px;
    outline: none;
 }
 .blk-whi{
    padding-left: 20px;
    align-items: center;
 }
 .shopi-tool{
   padding-left: 80vh;
 }
 .languages{
    height: 40px;
    background-color: #282A35;
    display: flex;

 }
 .w3sho-lan{
    display: flex;
    align-items: center;
    color:rgb(255,255,255);
    gap: 45px;
    font-weight: 400;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 23px;
    list-style: none;
    padding: 0;
    margin: 0;

 }
 .w3sho-lan li{
    text-decoration: none;
    padding-left: 15px;
    align-items:center ;
    padding-top: 2px;

 }
 
.main-topic{
   
   font-size: 21px;
   font-family: sagoe ui,arial,sans-serif;
   padding-left: 20px;
   padding-top: 20px;   
}
.w3schoolhtml-topics{
margin-top: 6px;
   margin-left: 40px;
}
.w3schoolhtml-topics ol li{
   list-style: none;
   padding-top: 3px;
   font-size: 17px;
   color: rgb(0,0,0);
   font-family: sagoe ui,arial,sans-serif;
   width: 220px;
}
.w3schoolhtml-topics{
   display: flex;
   height: 350vh; /*impotant */
   padding-top: 1vh;
}
.w3schoolhtml-topics ol li {
   padding: 5px;
}
.study-tutorial{
   margin-left: 6vh;
   background-color: #FFFFFF;
} 
 .forms-html{
font-family: 'Segoe UI', arial, sans-serif;
font-size: 23px;
font-weight: 400;
padding-top: 1.5vh;
 }
 .forms-topic{
   padding-top: 1vh;
 }

.html-garphics{
 font-family: 'Segoe UI', arial, sans-serif;
font-size: 23px;
font-weight: 400;
padding-top: 1.5vh;
 }
 .garaphics-topic{
   padding-top: 1vh;
 }
 .html-media{
   font-family: 'Segoe UI', arial, sans-serif;
   font-size: 23px;
   font-weight: 400;
   padding-top: 1.5vh;
 }
 .media-topics{
   padding-top: 1vh;
 }
 ol{
   overflow: scroll;
}
.right-page h1{
   padding-left: 6vh;
   margin-top: 100px;
   font-size: 45px;
   font-family: sagoe ul,arial,sans-serif;
   font-weight: 400;
   color: rgb(0,0,0);
}
.btn-hr{
   margin-top: 20px;
   margin-left: 6vh;
}
.btn-home{
   height: 47px;
   width: 107px;
   background-color: #059862;
   color: #FFFFFF;
   font-family: sans-serif;
   font-size: 19px;
   font-weight: 600;
   border-radius: 5px;
   border: none;  
}
.btn-next{
   height: 47px;
   width: 107px;
   background-color: #059862;
   color: #FFFFFF;
   font-family: sans-serif;
   font-size: 19px;
   font-weight: 600;
   border-radius: 5px;
   border: none;
   margin-left: 90vh;  

}
.right-pag{
   margin-top: 20px;
   height: 40vh;
   width:132vh;
   background-color: #D9EEE1;
}
.right-pag p{
   padding-top: 4vh;
   padding-left: 6vh;
   font-size: 18px;
   font-weight: 400;
   color: rgb(0,0,0);
   font-family: verdana,sans-serif;
}
.right-pagbtn{
   padding-top: 4vh;
   padding-left: 3vh;
}
.rigpag-btn{
  height: 8vh;
  width: 50vh;
  background-color: #059862;
  color: rgb(255,255,255);
  font-size: 21px;
  border: none;
  border-radius: 8px;
  align-items: center;
}
.rigpag-btn i{
   font-size: 12px;
}
.try-ys{
   margin-top: 12vh;
   margin-left: 2vh;
}
.try-ysh1{
   font-family: 'Segoe UI', arial,sans-serif;
   font-size: 34px;
   font-weight: 400;
}
.try-p{
   padding-top: 4vh;
   font-family: Verdana, sans-serif;
   font-size: 18px;
   font-weight: 500;
}
.example-code{
   margin-top: 5vh;
   height: 80vh;
   width: 130vh;
   background-color: #E7E9EB;
   border-radius: 8px;
}
.w3-example{
padding-top: 3vh;
padding-left: 3.3vh;
font-size: 26px;
font-family: 'Segoe UI', arial,sans-serif;
font-weight: 450;
color: rgb(0,0,0);
}
.html-syntax{
   height: 57vh;
   width: 123vh;
   background-color: white;
   margin-top: 3.5vh;
   border-left: 5px solid #04AA6D;

}
.html-syntax img{
   padding-left: 15px;
   padding-top: 10px;
}
.htmlsyn-btn{
   margin-left: 4vh;
   margin-top: 2vh;
   height: 50px;
   width: 190px;
   background-color:#04AA6D;
   color: #FFFFFF;
   font-size: 21px;
   font-family: sans-serif;
   font-weight: 400;
   border-radius: 6px;
   border: none;
}
.htmlsyn-btn i{
   font-size: 12px;
}
.htmlref{
   margin-top: 10vh;
}
.htmlref-h2{
   font-family: 'Segoe UI',Arial, sans-serif;
   font-size: 32px;
   font-weight: 400;
}
.htmlref-p{
   margin-top: 3vh;
   font-size: 19px;
   font-family: Verdana,sans-serif;
   width: 131vh;
}
.allbig-btn{
   height: 70vh;
   width: 130vh;
}
.big-btn{
 height: 70px;
 margin-top: 4vh;
 margin-left: 2vh;
 width: 290px;
 background-color:#E7E9EB ;
 display: inline-block;
 border-radius: 8px;
}
.wrscbig-btn{
text-align: center;
padding-top: 3vh;
font-size: 19px;
font-family: Verdana,sans-serif;
font-weight: 400;

}
.big-btn:hover{
   background-color: black;
   color: #FFFFFF;
}
.youtvide-html{
   margin-top: 6vh;
   margin-left: 37vh;
   font-size: 37px;
   font-family: 'Segoe UI',arial,sans-serif;
   font-weight: 400;
}
.youtlogo{
   height: 60vh;
   width: 110vh;
   margin-left: 8vh;
}
.homnex2{
   margin-top: 12vh;
}
.footer-main{
   margin-top: 6vh;
}
.fro-img{
   height: 100px;
   width: 200px;
}
.bg-img{
   height: 700px;
   width: 156vh;
   background-image: url(./spacebg-img.webp);
   margin-top: 10vh;
}
.w3img-end img{
   height: 90px;
   width: 90px;
   margin-top: 10vh;
   margin-left: 12vh;
   cursor: pointer;
}
.nav-w3sch{
   font-size: 18px;
   font-family: sans-serif;
   color: rgb(255, 244, 163);
   font-weight: 400;
   margin-left: 13vh;
   margin-top: 4vh;
}
.nav-w3sch a{
   padding-left: 3vh;
   cursor: pointer;
}
.nav-w3sch:hover{
   text-decoration: underline;
}
 .h5-main{
   font-family: sans-serif;
   color: rgb(221,221,221);
   font-size: 20px;
   font-weight: 400;
   padding-left:15vh ;
   padding-top: 6vh;
   line-height: 15px;
   
 }
 .anchor-tag{
   margin-top: 2.5vh;
   margin-left: 16vh;
   font-family: sans-serif;
   font-size: 13px;
   color: rgb(221,221,221);
   line-height: 15px;
   font-weight: 500;  
 }
 
 .allcontent{
   display: flex;

 }
 .space-img{
   background-image: url(./spacebg-img.webp);
   padding-left: 70vh;
   height: 71vh;
 }
.iconfaa{
   margin-left: 14vh;
   display: flex;
   height: 65px;
   margin-top: 1vh;
}
.faa{
   margin-top: 5vh;
   margin-left: 3vh;
   color: rgb(221,221,221);
   font-size: 17px;
   font-family: Verdana,sans-serif;
}
.faa a:hover{
   color: rgb(255, 244, 163);
   text-decoration: underline;
}
.paga-end{
   margin-left: 16vh;
   margin-top: 4vh;
   margin-right: 10vh; 
   display: flex; 
}
.pagaw3-end{
   font-family: Verdana, sans-serif;
   font-size: 15px;
   color: rgb(221,221,221);
   line-height: 15px;  
}
.pagaw3-end a{
   text-decoration: underline;
}
.pagaw3-end a:hover{
   color: rgb(255, 244, 163);
}





 










