/* h1{
     height: 100px;
    width: 125px;
    background-color: aquamarine;
     border-width: 2px;
    border-style: dashed;
    border-color: blue; */
    /* /text-align: center;
    border: 2px dashed blue; 
    
} */ 
div{ 
     height: 100px;
    width: 100px;
    background-color: burlywood;
     border: 5px solid brown;
     /* border-radius: 20px; */
     /* padding-left: 50px;
     padding-top: 50px;
     padding-right: 50px;
     margin-left: 50px;
     margin-top: 50px;
     margin-bottom: 50px; */
     margin: 25px;
     padding: 20px;

     

 }
/* button{
    border: 5px solid black;
} */  